<div class="within-container-about">
    <div class="section">
        <h1>What is macbros goal?</h1>
            <p>A collection of food options, you have the power to create the perfect dish that fits into your meal plan. We encourage people to 
            explore a variety of different cuisines, and in the future we hope new recipes would reach out to people that want to explore our 
            joy.</p>
        <h1>Who are we targeting?</h1>
            <p>The day you enjoy a nice dinner whether it be at a bar, or fine dining, that is when you are our our prized audience. The fact 
            that you enjoyed the sense of taste is what we hope we could have you acheive again, to recapture that moment of joy.</p>
    </div>
</div>