<div class="contact-container">
    <h1>Contact Us</h1>
    <div class="contact-box">
        <h2>Feel free to contact us with any questions</h2>
        <div class="contact-phone">Phone: 04111111111</div>
        <div class="contact-email">Email: macbro@ga.co</div>
    </div>
    <div class="contact-details">
        <input type="text" placeholder="Name">
        <input type="text" placeholder="Email">
        <input type="text" placeholder="Message" class="contact-message">
        <button>Send</button>
    </div>
</div>