

<div class="search-bar">
    <div>Search for the perfect meal: </div>
    <form action="/macbro" method="get">
        <input type="text" placeholder="calorie" name="calorie">
        <input type="text" placeholder="protein" name="protein">
        <input type="text" placeholder="carbs" name="carbs">
        <input type="text" placeholder="fat" name="fat">
        <input type="text" placeholder="ingredients" name="ingredients">
    <button>search</button>
    </form>
</div>

<a href="/macbro/new">add your own meal plan</a>


<div class="list-1">
<%dishes.each do |dish|%>
<p ><a class="list" href="/macbro/<%=dish['name']%>"><%=dish['name']%></a></p>
<img src="<%=dish['dish_img']%>" alt="">
<%end%>
</div>