<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <div class="container">
    <a class="login" href="">Login</a>
    <div class="nav-container">
      <nav class="navigation">
        <ul class="nav-names">Home</ul>
        <ul class="nav-names">Not sure</ul>
        <ul class="nav-names">About Us</ul>
        <ul class="nav-names">Contact Us</ul>
      </nav>
    </div>
    <header>
      <h1 class="title">macBro</h1>
    </header>





  </div>
  
  <%= yield %>

</body>
</html>
