<div class="wrap-list">
<%result["results"].each do |option|%>
    <div class="list-wrap">
        <p><a href="/macbro/<%=option["id"]%>"><%=option["title"]%></a></p>
        <img src="<%=option["image"]%>" alt="">
    </div>

<%end%>
</div>