<form action="/macbro" method="post">
    <label for="">name</label>
    <input type="text" name="name">

    <label for="">calories</label>
    <input type="text" name="calorie">

    <label for="">protein</label>
    <input type="text" name="protein">
    
    <label for="">carbohydrates</label>
    <input type="text" name="carbs">

    <label for="">fat</label>
    <input type="text" name="fat">

    <label for="">image_url</label>
    <input type="text" name="dish_img">

    <label for="">recipe url</label>
    <input type="url" name="recipe" placeholder="http://...">

    <button>add</button>

</form>