<h1>sign up</h1>
<div class="container">
    <form action="/signup" method ="post">
        <label for="">email</label>
        <input type="text" name="email">
    
        <label for="">password</label>
        <input type="password" name="password">
    
        <button>login</button>
    </form>
</div>